@import '../../../../scss/colors';
@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.not_find_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 335px;
    height: auto;
    font-size: 14px;
    line-height: 1.3;
    color: $christmas-main-orange;
    padding-top: 64px;

    & span {
        color: #efede84d;
    }

    @media screen and (min-width: 768px) {
        width: 580px;
    }

    @media screen and (min-width: 1440px) {
    }
}
.item {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 141px;
    border-radius: 12px;
    border: 1px solid $lonely-modal-gray;
    padding: 16px;
    background-color: $darkness-modal-black;

    @media screen and (min-width: 768px) {
        margin-right: 16px;
        margin-bottom: 32px;

        &:nth-child(even) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1440px) {
        width: 405px;
    }
}
.item_container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.diet {
    width: 41px;
    height: 24px;
    border-radius: 4px;
    background-color: #efede80d;
    padding: 5px 7.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.button_container {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 16px;
}

.text {
    color: #efede8;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
};

.green::before {
    content: '';
    background-color: #419b09;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
};
.red::before {
    content: '';
    background-color: #e9101d;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
};

.button {
    display: flex;
    color: #e6533c;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
}

.title_container {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.title {
    font-weight: 400;
    font-size: 20;
    line-height: 1.2;
    text-transform: capitalize;


    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_list_container {
    display: flex;
    gap: 16px;

    & p {
        display: block;
        color: #efede866;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
    & span {
        color: #efede8;
        margin-left: 4px;
        text-transform: capitalize;
    }
}
