@import '../../../../scss/colors';
@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 80px;

    @media screen and (min-width: 768px) {
        height: 660px;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: scroll;
        row-gap: 32px;
        column-gap: 16px;
    };

    @media screen and (min-width: 1440px) {
        width: 850px;
        height: 487px;
    };
};

.list::-webkit-scrollbar {
    width: 8px;
    height: 153px;
    border-radius: $main-b-radius;
    background-color: #efede81a;
};

.list::-webkit-scrollbar-thumb {
    border-radius: $main-b-radius;
    background-color: $christmas-hover-orange;
};
