@import '../../../scss/mixins';
@import '../../../scss/colors';

.header__container {
    @include container();

    width: 100%;

    padding-top: 24px;
    padding-bottom: 24px;

    & span {
        font-size: 16px;
        font-weight: 600;
    }

    & a span {
        color: $snow-white;
        @include transition();
    }

    & a use {
        fill: $christmas-main-orange;
        @include transition();
    }

    & a:hover span {
        color: $snow-alpha-white;
    }

    & a:hover use {
        fill: $snow-alpha-white;
    }
}
