@import '../../../scss/mixins';

.header__container {
    @include container();

    padding-top: 24px;
    padding-bottom: 24px;

    margin: 0 0;

    & span {
        font-size: 16px;
        font-weight: 600;
    }
}