@import '../../../scss/mixins';
@import '../../../scss/colors';

.header__container {
    @include container();

    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    justify-content: space-between;

    & a {
        display: flex;
        align-items: flex-end;
    }

    & span {
        font-size: 16px;
        font-weight: 600;
        line-height: 12px;

        @media screen and (min-width: 768px) {
            font-size: 19px;
            line-height: 17px;
        }
    }

    & a span {
        color: $snow-white;
        @include transition();
    }

    & a use {
        fill: $christmas-main-orange;
        @include transition();
    }

    & a:hover span {
        color: $snow-alpha-white;
    }

    & a:hover use {
        fill: $snow-alpha-white;
    }

    & a:active span {
        color: $lonely-gray;
    }

    & a:active use {
        fill: $christmas-main-orange;
    }
}

.header__burgerMenu {
    background-color: transparent;
    border: none;
    padding: 0;

    & use {
        stroke: $christmas-main-orange;

        @include transition();
    }

    &:hover use {
        stroke: $christmas-hover-orange;
    }

    &:active use {
        stroke: $christmas-beige;
    }

    @media (min-width: 1440px) {
        display: none;
    }
}
