@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

$calendar-white: rgba(239, 237, 232, 1);
$calendar-main: rgba(239, 137, 100, 1);



@mixin react-datepicker() {
    display: block;

    max-width: 768px;

    margin: 0 auto;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;

        max-width: 1440px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 96px;
        padding-right: 96px;
    }
}

@mixin blackCircle {
    background-color: rgba(4, 4, 4, 1);
}

@mixin positionDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin positionSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin positionFlexCenter {
    align-items: center;
    justify-content: center;
    display: flex;
}
@mixin outlineBorder {
    outline: none;
    border: none;
}

.button-wrapper {
    @include positionDisplay;
}

.calendar-container {
    position: absolute;
    right: 0;
    transform: translate(100%, -50%);
    margin-right: 500px;
}

.button-calendar {
    align-items: center;
    background-color: transparent;
    border: none;
    color: $calendar-white;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    gap: 8px;
    line-height: 1.1;
    padding: 0;
    margin-right: 20px;
    stroke: $calendar-main;
    &:hover {
        stroke: $calendar-white;
    }

    @media screen and (min-width: 768px) {
        & {
            font-size: 24px;
            line-height: 1.3;
        }
    }

    @media screen and (min-width: 1440px) {
        & {
            font-size: 24px;
            line-height: 1.3;
        }
    }
}

.icon-calendar-style {
    width: 20px;
    height: 20px;

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }

    @media screen and (min-width: 1440px) {
        width: 24px;
        height: 24px;
    }
}

.icon-previous-btn-icon,
.icon-next-btn-icon {
    background-color: transparent;
    border: none;
}

.icon-previous-btn-icon,
.icon-next-btn-icon {
    fill: rgba(239, 237, 232, 0.2);
    padding: 0;

    &:hover,
    &:focus {
        fill: $calendar-white;
    }
}

.react-datepicker__wrapper {
    position: relative;
}

.react-datepicker__month-container {
    height: 100%;
    padding: 14px;
    width: 215px;
}
.react-datepicker__month-container {
    float: inherit;
    box-sizing: border-box;
  }

.react-datepicker {
    position: absolute;
    align-items: center;
    background-color: $calendar-main;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-1%, 0%);
}

.react-datepicker__navigation {
    align-items: center;
    display: flex;
    stroke: rgba(239, 237, 232, 0.4);
}

.react-datepicker__navigation--previous {
    justify-content: flex-start;

    &:hover {
        stroke: $calendar-white;
    }
}

.react-datepicker__navigation--next {
    justify-content: end;

    &:hover {
        stroke: $calendar-white;
    }
}

.header-calendar {
    @include positionDisplay;
    margin-bottom: 14px;
}
.react-datepicker__month-container {
    box-sizing: border-box;
    float: inherit;
}
.react-datepicker__header {
    background-color: $calendar-main;
    position: relative;

    &.react-datepicker__header--custom {
        border-bottom: none;
    }
}
.react-datepicker__day-names {
    @include positionSpaceBetween;
    padding-top: 14px;
    padding-bottom: 14px;

    border-top: 1px solid rgba(239, 237, 232, 0.2);
}

.react-datepicker__day--selected,
.react-datepicker__day--today {
    @include outlineBorder;
}

.react-datepicker__current-month {
    color: $calendar-white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.17;
    text-align: center;
}
.react-datepicker__day-name {
    color: rgba(239, 237, 232, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
}
.react-datepicker__day
    react-datepicker__day--012.react-datepicker__day--selected
    react-datepicker__day--today {
    @include outlineBorder;
}

.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today {
    font-weight: 400;
}

.react-datepicker__week {
    @include positionSpaceBetween;
    color: $calendar-white;
}

.react-datepicker__day {
    @include positionFlexCenter;
    border-radius: 50%;
    color: $calendar-white;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 1.28;
    margin: 0;
    text-align: center;
    width: 24px;
    height: 24px;
}
.react-datepicker__month {
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: space-between;
    margin: 0;
}

.react-datepicker__day:hover {
    @include blackCircle;
    border-radius: 50%;
    color: $calendar-white;
  
}
.react-datepicker__day--keyboard-selected {
    @include blackCircle;
    border-radius: 50%;
    color: $calendar-white;

}
.react-datepicker__day--selected {
    @include blackCircle;
    border-radius: 50%;
    color: $calendar-white;

}

.react-datepicker__triangle {
    visibility: hidden;
}

.react-datepicker__navigation-icon {
    display: none;
}

.react-datepicker__day--outside-month {
    color: rgba(239, 237, 232, 0.2);
}
.react-datepicker__day--today {
    @include blackCircle;
    border-radius: 50%;
    color: $calendar-white;
   
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
    font-family: 'Roboto', sans-serif;
}



