@import '../../../../scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/colors';

a {
    color: $christmas-main-orange;
}

.product__container {
    border-radius: $main-b-radius;
    border: 1px solid rgba(239, 237, 232, 0.2);
    background: rgba(239, 237, 232, 0.05);
    padding: 16px 12px;

    max-width: 380px;

    @media screen and (min-width: 768px) {
        min-width: 704px;
        max-height: 234px;
        padding-top: 19px;
        min-height: 234px;
    }

    @media screen and (min-width: 1140px) {
        min-width: 826px;
        padding-top: 16px;
    }
}

.container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

    & h2 {
        color: rgba(239, 237, 232, 0.5);
        font-size: 14px;
        line-height: 18px;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        color: $christmas-main-orange;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        border: 0;

        cursor: pointer;

        & a {
            @include transition();
        }

        &:hover a {
            color: $silent-gray;
        }

        &:active a {
            color: $christmas-hover-orange;
        }

        & svg use {
            stroke: $christmas-main-orange;
            fill: $christmas-main-orange;

            @include transition();
        }

        &:hover svg use {
            stroke: $silent-gray;
            fill: $silent-gray;
        }

        &:active svg use {
            stroke: $christmas-hover-orange;
            fill: $christmas-hover-orange;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.container__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 824px;
    overflow-y: auto;
    min-height: 335px;

    @media screen and (min-width: 768px) {
        gap: 8px;
        overflow-y: auto;
        min-height: 120px;
        max-height: 150px;
    }

    @media screen and (min-width: 1440px) {
        overflow-x: clip;
    }

    & li {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
            flex-direction: raw;
            flex-wrap: nowrap;
        }
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & span {
        margin-bottom: 9px;
        margin-top: auto;
    }
}

.container__label {
    color: $christmas-hover-orange;
    font-size: 12px;
    line-height: 18px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container__list li:not(:first-child) .container__label {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.container__input,
.container__input__small {
    display: block;
    color: $snow-white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 14px;
    border-radius: $main-b-radius;
    border: 1px solid rgba(239, 237, 232, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 14px;
    }
}

.container__input {
    width: 230px;
    margin-bottom: 16px;

    @media screen and (min-width: 375px) {
        width: 297px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.container__input__small {
    width: 81px;
}

.big-gap {
    margin-right: 16px;

    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
}

.small-gap {
    margin-right: 6px;

    @media screen and (min-width: 768px) {
        margin-right: 12px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 20px;
    }
}

.title {
    @media screen and (min-width: 768px) {
        width: 90px;
    }

    @media screen and (min-width: 1140px) {
        width: 115px;
    }
}

.category {
    @media screen and (min-width: 768px) {
        width: 132px;
    }

    @media screen and (min-width: 1140px) {
        width: 157px;
    }
}
.name {
    @media screen and (min-width: 768px) {
        width: 128px;
    }

    @media screen and (min-width: 1140px) {
        width: 131px;
    }
}
.target {
    @media screen and (min-width: 768px) {
        width: 84px;
    }

    @media screen and (min-width: 1140px) {
        width: 106px;
    }
}
.butned {
    @media screen and (min-width: 768px) {
        width: 78px;
    }

    @media screen and (min-width: 1140px) {
        width: 91px;
    }
}
.time {
    @media screen and (min-width: 768px) {
        width: 72px;
    }

    @media screen and (min-width: 1140px) {
        width: 82px;
    }
}
.notFound {
    color: rgba(239, 237, 232, 0.3);
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    margin-top: 125px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-top: 65px;
    }
}

.button__delete {
    cursor: pointer;

    & svg use {
        stroke: $christmas-hover-orange;
        fill: none;

        @include transition();
    }

    &:hover svg use {
        stroke: $christmas-beige;
    }

    &:active svg use {
        stroke: $christmas-main-orange;
    }
}
