@import '../../../../scss/variables';
@import '../../../../scss/colors';
@import '../../../../scss/mixins';

.product_modal {
    // width: 335px;
    // height: 280px;
    @media screen and (min-width: 768px) {
    };

    @media screen and (min-width: 1440px) {
    };
};

.input {
    color: $snow-alpha-white;
    padding: 8px 14px;
    background-color: transparent;
    outline: none;
    width: 287px;
    height: 34px;
    border-radius: 12px;
    border: 1px solid$snow-alpha-white;
    font-size: 14px;

    @include transition();

    &:hover {
        border-color: $christmas-main-orange;
    };

    &:focus {
        border-color: $christmas-main-orange;
    };

    @media screen and (min-width: 768px) {
        width: 244px;
        height: 40px;
    };

    @media screen and (min-width: 1440px) {
    };
}

.input_container-grams {
    margin-bottom: 16px;
    position: relative;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    };
};

.input_container {
    margin-bottom: 16px;
};

.input-grams {
    font-size: 12px;
    color: rgba(239, 237, 232, 0.4);
    color: $snow-white;
    padding: 8px 14px;
    background-color: transparent;
    outline: none;
    width: 287px;
    height: 34px;
    border-radius: 12px;
    border: 1px solid$snow-alpha-white;

    @include transition();

    &:focus {
        border-color: $christmas-main-orange;
    };

    @media screen and (min-width: 768px) {
        width: 155px;
        height: 40px;
        margin-left: 16px;
    };
};

.button_container {
    display: flex;
    align-items: center;
    gap: 14px;
};

.title_calories {
    font-size: 12px;
    color: rgba(239, 237, 232, 0.4);
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 64px;
    };
};

.inputs {
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 16px;
        justify-content: space-between;
    };
};

.product {
    border: 1px solid rgba(239, 237, 232, 0.4);
    border-radius: $main-b-radius;
    color: rgba(239, 237, 232, 0.4);
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;

    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    };
};

.input__title {
    position: absolute;
    top: 11px;
    right: 14px;

    color: rgba(239, 237, 232, 0.4);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
};

.container {
    margin-top: 6px;
};
