.form_group {

};

.dropdown {
    position: relative;
}

.dropdown_button {
position: relative;
display: block;
color: #EFEDE8;
background-color: transparent;
padding: 14px;
width: 146px;
height: 46px;
border-radius: 12px;
border: 1px solid#EFEDE84D;
text-align: left;
cursor: pointer;

};

.dropdown_button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%);

    width: 10px;
    height: 10px;
    border-right: 35px 36px 0 30px;
    border-color: #EFEDE8 transparent transparent transparent;
    border-style: solid;

    pointer-events: none;
};

.dropdown_list {
   
   display: flex;
    position: absolute;
    left: 0;
    top: 52px;

    
    flex-direction: column;
    gap: 8px;
    width: 146px;
    height: 228px;
   background-color: #1C1C1C;
   color: #EFEDE8;
   border-radius: 12px;
   padding: 14px 32px 14px 14px;

    overflow:hidden;

   z-index: 1;
};
.dropdown_list_visible {
    display: none;
}

.dropdown_item {
    color: #EFEDE8;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
};

.dropdown_input {
    display: none;
}