@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.welcome__container {
    @include container();

    & div {
        display: flex;
        gap: 14px;

        @media screen and (min-width: 768px) {
            gap: 20px;
        }

    }

    & h1 {
        margin-top: 63px;
        margin-bottom: 40px;

        color: $snow-white;
        font-size: 38px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.38px;

        @media screen and (min-width: 768px) {
            margin-top: 122px;
            margin-bottom: 64px;
            width: 600px;

            font-size: 70px;
            line-height: 78px;
            letter-spacing: 0.7px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 116px;
        }
    }

    & h1 span {
        position: relative;
        z-index: 1;
    }
}