.category__list{
    display: flex;
    gap: 28px;

    & li a span{
        text-decoration: none;
        color: rgba(239, 237, 232, 0.40);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29; /* 128.571% */
    }
    };

@media screen and (min-width: 768px) {
.category__list{
    gap: 32px;

    & li a span{
        font-size: 16px;
        line-height: 1.5; /* 150% */
    }
    };
};