@import '../../../../scss/colors';
@import '../../../../scss//mixins';
@import '../../../../scss/variables';

.dashboard__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 13px;
    row-gap: 20px;
    justify-content: center;

    @media screen and (min-width: 768px) {
        column-gap: 16px;
        row-gap: 16px;
        width: 600px;
    }

    @media screen and (min-width: 1140px) {
        width: 390px;
    }

    & li {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 96px;
        padding: 14px;
        justify-content: space-between;

        border-radius: $main-b-radius;
        border: 1px solid rgba(239, 237, 232, 0.2);
        background: rgba(239, 237, 232, 0.05);

        @media screen and (min-width: 768px) {
            width: 187px;
            height: 116px;
            padding: 18px;
        }
    }
    .greenHighlight {
        border: 1px solid #3cbf61;
    }

    .redHighlight {
        border: 1px solid #e9101d;
    }

    .red {
        background: $christmas-main-orange;

        & p {
            color: rgba(239, 237, 232, 0.8);
        }
    }
}

.dashboard__item__desc {
    display: flex;
    align-items: center;
    color: rgba(239, 237, 232, 0.4);
    font-size: 12px;
    line-height: 16px;

    & svg use {
        stroke: $christmas-main-orange;
        fill: $christmas-main-orange;
    }

    @media screen and (min-width: 768px) {
    }
}

.dashboard__item__number {
    color: $snow-white;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 32px;
    }
}

.dashboard__desc {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    color: rgba(239, 237, 232, 0.3);
    font-size: 14px;
    line-height: 18px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
        margin-top: 32px;
        width: 600px;
    }

    @media screen and (min-width: 1140px) {
        width: 390px;
    }
}

.dashboard__icon {
    display: inline-block;
    border-radius: 50%;
    background-color: $christmas-beige;
    width: 24px;
    height: 24px;
}
