@import '../../../scss/variables';
@import '../../../scss/colors';
@import '../../../scss/mixins';

.button {
    background-color: $christmas-main-orange;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $snow-white;

    padding: 12px 40px;

    border: none;
    border-radius: $main-b-radius;

    @include transition();

    &:hover {
        background-color: $christmas-hover-orange;
    }

    &:active {
        background-color: $christmas-beige;
    }

    @media screen and (max-width: 375px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    &:disabled,
    &[disabled]{
    color: rgba(239, 237, 232, 0.60);
    }

    &:disabled:hover,
    &[disabled]:hover{
        background-color: $christmas-main-orange;
    }

    &:disabled:active,
    &[disabled]:active{
        background-color: $christmas-main-orange;
    }
}

.gray {
    background-color: transparent;

    border: 1px solid $snow-alpha-white;

    &:hover {
        background-color: transparent;

        border-color: $christmas-main-orange;
    }

    &:active {
        background-color: $darkness-modal-black;
    }
}

.orange {
    border: 1px solid $snow-alpha-white;

    &:hover {
        background-color: transparent;

        border-color: $snow-white;
    }

    &:active {
        background-color: $christmas-main-orange;

        border-color: $snow-white;
    }
}
