@import '../../scss/colors';

.form_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;

};

.input {
   

    width: 335px;
    height: 46px;
    border-radius: 12px;
};

.categories{
    width: 146px;
    height: 46px;
    border-radius: 12px;
};

.select {
    width: 173px;
    height: 46px;
    border-radius: 12px;
};