@import '../../scss/colors';
@import '../../scss//mixins';
@import '../../scss/variables';


.dashboard__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    column-gap: 13px;
    row-gap: 20px;


    & li{
        display: flex;
        flex-direction: column;
        width: 157px;
        height: 96px;
    padding: 14px;

    border-radius: $main-b-radius;
    border: 1px solid rgba(239, 237, 232, 0.20);
    background: rgba(239, 237, 232, 0.05);
    }

        .red {
            background: $christmas-main-orange;
        }
}

.dashboard__item__desc {
    color: rgba(239, 237, 232, 0.80);
    font-size: 12px;
    line-height: 16px;
}

.dashboard__item__number {
    color: $snow-white;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.dashboard__desc{
    display: flex;
        gap: 8px;
    margin-top: 20px;
    color: rgba(239, 237, 232, 0.30);
        font-size: 14px;
        line-height: 18px;
}

.dashboard__icon{
    display: inline-block;
    border-radius: 50%;
    background-color: $christmas-beige;
    width: 24px;
        height: 24px;
}
