@import '../../../scss/colors';
@import '../../../scss//mixins';

.calendar__container {
    &-mobile {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

.calendar__component_wrapper {
    max-width: fit-content;

    margin-left: auto;
}
