@import '../../../scss/colors';
@import '../../../scss//mixins';

.diaryPage_container {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.diaryPage_calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
