@import '../../../scss/mixins';
@import '../../../scss/variables';
@import '../../../scss/colors';
@import '../../../scss/reset';

.container
{
    padding: 10px 20px 80px 20px;
    &_icon 
    {
        display: flex;
        margin-bottom: 12px;
    }
    &_icon p 
    {
        color: rgba(239, 237, 232, 0.40);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        margin-left: 8px;
    }
    &_title 
    {
        color: $snow-white;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.16;
        margin-bottom: 20px;
    }
    &_box
    {
        display: flex;
        gap: 28px;
        margin-bottom: 8px;
        position: relative;
    }
    &_box::after 
    {
        content: "";
        position: absolute;
        width: 68px;
        height: 4px;
        bottom: -8px;
        border-radius: 2px;
        background: $christmas-hover-orange;
    }
    &_box p 
    {
        color: rgba(239, 237, 232, 0.40);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
    }
}