@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';


 .list{
    @include container();
    width: 375px;

    @media screen and (min-width: 768px) {
            width: 868px;
        };

    @media screen and (min-width: 1440px) {
            width: 1440;
        };
};