@import '../../scss/colors';
@import '../../scss/mixins';

.burgerMenu__container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    background-color: $christmas-main-orange;
    z-index: 20;
    padding: 20px;
};

.burger__button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    padding: 0;

    & use {
        stroke: $snow-white;
        @include transition();
    }

    &:hover use {
        stroke: $silent-gray;
    }

    &:active use {
        stroke: $christmas-beige;
    }
};

.menuItems__list {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
};

.menuItems__list li {
    margin-bottom: 16px;
};


.logout__button {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $snow-white;

    @include transition();

    & use {
        stroke: $snow-white;
        fill: transparent;

        @include transition();
    }

    &:hover use {
        stroke: $silent-gray;
    }

    &:active use {
        stroke: $christmas-beige;
    }

    &:hover {
        color: $silent-gray;
    }

    &:active {
        color: $christmas-beige;
    }

    @media (min-width: 768px) {
    line-height: 24px;
    font-size: 16px;
     }
}