.burgerMenu {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: orange;
        z-index: 20;
       
}

.burger-button {
    
}

.menu-items {
   
}