@import '../../scss/colors';

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 335px;
    height: 141px;
    border-radius: 12px;
    border: 1px solid #EFEDE833 ;
    padding: 16px;
    background-color: #EFEDE833;
};
.item_container {
    display: flex;
};

.diet {
    width: 41px;
    height: 24px;
    border-radius: 4px;
    background-color: #EFEDE80D;
    padding: 5px 7.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
};
.item_list_container {
    display: flex;
    gap: 16px;
};