$darkness-main-black: #040404;

$christmas-main-orange: #E6533C;
$christmas-hover-orange: #EF8964;
$christmas-beige: #EFA082;

$christmas-tree-green: #3CBF61;

$santas-node-red: #D80027;

$silent-gray: #303030;
$lonely-gray: #EFEDE899;

$snow-alpha-white: #EFEDE84D;
$snow-white: #EFEDE8;