$darkness-main-black: #040404;
$darkness-modal-black: #10100F;
$modal-black-bg: #04040466; // 40%

$christmas-main-orange: #e6533c;
$christmas-hover-orange: #ef8964;
$christmas-beige: #efa082;

$christmas-tree-green: #3cbf61;

$santas-node-red: #d80027;

$silent-gray: #303030;
$lonely-gray: #efede899; // 60%
$lonely-modal-gray: #EFEDE833; //20%

$snow-alpha-white: #efede84d; // 30%
$snow-white: #efede8;
