@import '../../../../scss/colors';
@import '../../../../scss/mixins';
@import '../../../../scss/variables';

li a {
    text-decoration: none;
    color: rgba(239, 237, 232, 0.4);
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    position: relative;

    &:hover span {
        color: $christmas-hover-orange;

        @include transition();
    }

    &.active span {
        color: $snow-white;

        @include transition();

        &:hover {
            color: $lonely-gray;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background: $christmas-hover-orange;
            bottom: -4px;
        }
    }
}

@media screen and (min-width: 768px) {
    a {
        font-size: 16px;
        line-height: 1.5; /* 150% */
    }
}
