.products_page_container {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    & h2 {
        max-width: fit-content;
    }
    @media screen and (min-width: 768px) {
        padding-top: 72px;
        padding-bottom: 32px;

        & h2 {
            max-width: none;
        }
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}